#logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px; /* Ajusta el tamaño del logo según sea necesario */
    height: 120px; /* Mantiene la proporción del logo */
  }
  .tabs {
    justify-content: space-around;
    width: 50%; /* Ajusta este valor según lo que necesites */
    height: 90px;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
  }
  
  .menu-container {
    width: 100%;
    left: 150px;
    position: absolute;
    top: 0;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.932); /* Cambia el fondo a morado */
    box-shadow: 0px 4px 2px -2px rgb(199, 199, 199); /* Sombra opcional */
  }
  .menu-container2 {
    width: 100%;
    left: 80%;;
    position: absolute;
    top: 40px;
  }

  a{
    text-decoration: none; 
    color: inherit; 
    font-weight: normal; 
  }

  .div-3 {
    display: flex;
    gap: 17px;
  }

  .img {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 25px;
  }

  .preguntas-frecuentes-faq{
    margin-top: 10rem;
    text-align: center;
    text-decoration: solid;
  }

  .footer {
    background-color: var(--muted);
    --background: #fff;
    --foreground: #0A0A0A;
    --primary: #1A1A1A;
    --primary-foreground: #FAFAFA;
    --secondary: #F3F3F3;
    --muted: #F3F3F3;
    --muted-foreground: #767676;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: 50px;
  }
  
  .container-footer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    max-width: 1200px; 
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .column-footer {
    flex: 1; 
    min-width: 200px;
    margin: 5px; 
  }
  
  .column-footer h3 {
    color: var(--primary);
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .column-footer ul {
    list-style: none;
    padding: 0;
  }
  
  .column-footer li {
    margin-bottom: 10px;
  }
  
  .column-footer a {
    color: var(--muted-foreground);
    text-decoration: none;
  }
  
  .column-footer a:hover {
    color: var(--primary);
  
    text-decoration: underline;
  }
  
  .socials {
    margin-bottom: 20px;
  }
  
  .socials a {
    margin: 0 10px;
    
  }
  .socials img {
    width: 24px; /* Adjust size of icons */
    height: auto; /* Maintain aspect ratio */
  }
