.soporte-1 {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 17px 0 36px;
}
.div {
  display: flex;
  margin-left: 26px;
  width: 100%;
  max-width: 1225px;
  gap: 40px 100px;
  flex-wrap: wrap;
}

.kangaroo {
  color: rgba(0, 0, 0, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  flex-grow: 1;
  width: 114px;
  font: 400 35px Hermeneus One, sans-serif;
}
.div-2 {
  align-self: start;
  display: flex;
  margin-top: 14px;
  color: var(--sds-color-text-neutral-default);
  font: var(--sds-typography-body-font-weight-regular)
    var(--sds-typography-body-size-medium) / 1.4
    var(--sds-typography-body-font-family);
}

/* Quita los estilos de todos los <a>  (No hay que volver a hacerlo, en caso de no querer modificar igual, hacer una clase propia)*/
a{
  text-decoration: none; 
  color: inherit; 
  font-weight: normal; 
}

/*Diseño de links navbar*/
.tab {
  border-radius: 4px 4px 0px 0px;
  border: 1px solid transparent; 
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  padding: 5px 12px; 
  transition: border 0.3s ease;
}
@media (max-width: 991px) {
  .tab {
    white-space: initial;
  }
}

.tab:hover{
  border: 1px solid black;
} 

.tab {
  border-radius: 4px 4px 0px 0px;
  border-color: rgba(245, 245, 245, 1);
  border-bottom-width: 1px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  padding: 4px 12px;
}


.label {
  opacity: var(--sds-size-stroke-border);
  align-self: stretch;
  margin: auto 0;
}
.tabs {
  display: flex;
  align-items: start;
  overflow: hidden;
  justify-content: start;
  flex-grow: 1;
  flex-basis: auto;
}

.tab-2 {
  border-radius: 4px 4px 0px 0px;
  border-color: rgba(245, 245, 245, 1);
  border-bottom-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
}
.div-3 {
  display: flex;
  gap: 17px;
  margin: auto 0;
}
.img {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 25px;
}
.page-content {
  z-index: 10;
  display: flex;
  margin-top: 105px;
  width: 100%;
  padding-bottom: 80px;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, sans-serif;
  justify-content: start;
}

.form {
  border: 1px solid #fff;
  opacity: var(--sds-size-stroke-border);
  background: var(--sds-color-background-default-default);
  background-color: var(--sds-color-background-default-default);
  display: flex;
  width: 712px;
  max-width: 100%;
  flex-direction: column;
  justify-content: start;
  padding: 48px;
}

.section-text {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: var(--CoolGray-90, #21272a);
  justify-content: start;
}

.top {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.1;
  justify-content: start;
}

.secondary-headline {
  opacity: var(--sds-size-stroke-border);
}

.paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  opacity: var(--sds-size-stroke-border);
  margin-top: 8px;
}

.form-5-fields-checkbox-button {
  display: flex;
  margin-top: 48px;
  width: 100%;
  max-width: 616px;
  flex-direction: column;
  font-weight: 400;
  line-height: 1.4;
  justify-content: start;
}

.fields-group {
  display: flex;
  width: 100%;
  align-items: start;
  gap: 16px;
  justify-content: start;
  flex-wrap: wrap;
}

.div-4 {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  flex-basis: 0%;
}
.label-and-field {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}
.label-2 {
  color: var(--CoolGray-90, #21272a);
  font-size: 14px;
  opacity: var(--sds-size-stroke-border);
}
.field {
  align-items: center;
  border-bottom: var(--sds-size-stroke-border) solid #fff;
  opacity: var(--sds-size-stroke-border);
  background: var(--CoolGray-10, #f2f4f8);
  background-color: var(--CoolGray-10, #f2f4f8);
  display: flex;
  margin-top: 8px;
  min-height: 48px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 13px;
  padding-bottom: 13px;
  gap: 8px;
  font-size: 16px;
  color: var(--CoolGray-60, #697077);
  justify-content: start;
  padding: var(--sds-size-space-300) var(--sds-size-space-400);
}
.text {
  opacity: var(--sds-size-stroke-border);
  align-self: stretch;
  flex: 1;
  flex-basis: 0%;
  margin: auto 0;
}
.div-5 {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  flex-basis: 0%;
}
.label-3 {
  color: var(--CoolGray-90, #21272a);
  font-size: 14px;
  opacity: var(--sds-size-stroke-border);
}
.div-6 {
  display: flex;
  margin-top: 16px;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}

.label-and-field-2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}

.label-4 {
  color: var(--CoolGray-90, #21272a);
  font-size: 14px;
  opacity: var(--sds-size-stroke-border);
}

.field-2 {
  align-items: center;
  border-bottom: var(--sds-size-stroke-border) solid #fff;
  opacity: var(--sds-size-stroke-border);
  background: var(--CoolGray-10, #f2f4f8);
  background-color: var(--CoolGray-10, #f2f4f8);
  display: flex;
  margin-top: 8px;
  min-height: 48px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 13px;
  padding-bottom: 13px;
  gap: 8px;
  font-size: 16px;
  color: var(--CoolGray-60, #697077);
  justify-content: start;
  padding: var(--sds-size-space-300) var(--sds-size-space-400);
}

.text-2 {
  opacity: var(--sds-size-stroke-border);
  align-self: stretch;
  flex: 1;
  flex-basis: 0%;
  margin: auto 0;
}

.div-7 {
  display: flex;
  margin-top: 16px;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}

.label-and-field-3 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}

.label-5 {
  color: var(--CoolGray-90, #21272a);
  font-size: 14px;
  opacity: var(--sds-size-stroke-border);
}

.field-3 {
  align-items: center;
  border-bottom: var(--sds-size-stroke-border) solid #fff;
  opacity: var(--sds-size-stroke-border);
  background: var(--CoolGray-10, #f2f4f8);
  background-color: var(--CoolGray-10, #f2f4f8);
  display: flex;
  margin-top: 8px;
  min-height: 48px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 13px;
  padding-bottom: 13px;
  gap: 8px;
  font-size: 16px;
  color: var(--CoolGray-60, #697077);
  justify-content: start;
  padding: var(--sds-size-space-300) var(--sds-size-space-400);
}

.text-3 {
  opacity: var(--sds-size-stroke-border);
  align-self: stretch;
  flex: 1;
  flex-basis: 0%;
  margin: auto 0;
}

.div-8 {
  display: flex;
  margin-top: 16px;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}

.label-and-field-4 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}

.label-6 {
  color: var(--CoolGray-90, #21272a);
  font-size: 14px;
  opacity: var(--sds-size-stroke-border);
}

.field-4 {
  align-items: center;
  border-bottom: var(--sds-size-stroke-border) solid #fff;
  opacity: var(--sds-size-stroke-border);
  background: var(--CoolGray-10, #f2f4f8);
  background-color: var(--CoolGray-10, #f2f4f8);
  display: flex;
  margin-top: 8px;
  min-height: 48px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  gap: 8px;
  font-size: 16px;
  color: var(--CoolGray-60, #697077);
  justify-content: start;
  flex-wrap: wrap;
  padding: var(--sds-size-space-300) var(--sds-size-space-400);
}

.text-4 {
  opacity: var(--sds-size-stroke-border);
  align-self: stretch;
  flex: 1;
  flex-basis: 0%;
  margin: auto 0;
}

.img-2 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  margin: auto 0;
}
.buttons-group {
  display: flex;
  margin-top: 16px;
  width: 100%;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  color: var(--Default-White, #fff);
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: 0.5px;
  line-height: 1;
  justify-content: end;
}

.button {
  justify-content: center;
  align-items: center;
  border: 2px solid var(--Primary-60, #0f62fe);
  opacity: var(--sds-size-stroke-border);
  background: var(--Primary-60, #0f62fe);
  background-color: var(--Primary-60, #0f62fe);
  align-self: stretch;
  display: flex;
  min-height: 48px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding: var(--sds-size-space-400) var(--sds-size-space-300);
  margin: auto 0;
}

.div-9 {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin: auto 0;
  padding: 0 16px;
}

.button-text {
  opacity: var(--sds-size-stroke-border);
  align-self: stretch;
  margin: auto 0;
}
.footer {
  background-color: rgba(230, 230, 230, 1);
  border-color: rgba(217, 217, 217, 1);
  border-top-width: 1px;
  display: flex;
  min-height: 462px;
  width: 100%;
  align-items: start;
  gap: 16px;
  overflow: hidden;
  justify-content: start;
  flex-wrap: wrap;
  padding: 32px 32px 154px;
}

.title {
  display: flex;
  min-width: 240px;
  min-height: 83px;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 262px;
}
.button-list {
  display: flex;
  align-items: center;
  gap: 16px;
  overflow: hidden;
  justify-content: start;
}



/*------------------------ FOOTER ------------------------*/


.footer {
  background-color: var(--muted);
  --background: #fff;
  --foreground: #0A0A0A;
  --primary: #1A1A1A;
  --primary-foreground: #FAFAFA;
  --secondary: #F3F3F3;
  --muted: #F3F3F3;
  --muted-foreground: #767676;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.container-footer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  max-width: 1200px; 
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}

.column-footer {
  flex: 1; 
  min-width: 200px;
  margin: 5px; 
}

.column-footer h3 {
  color: var(--primary);
  margin-top: 10px;
  margin-bottom: 15px;
}

.column-footer ul {
  list-style: none;
  padding: 0;
}

.column-footer li {
  margin-bottom: 10px;
}

.column-footer a {
  color: var(--muted-foreground);
  text-decoration: none;
}

.column-footer a:hover {
  color: var(--primary);

  text-decoration: underline;
}

.socials {
  margin-bottom: 20px;
}

.socials a {
  margin: 0 10px;
  
}
.socials img {
  width: 24px; /* Adjust size of icons */
  height: auto; /* Maintain aspect ratio */
}

