
.div {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 23px 0 147px;
}
@media (max-width: 991px) {
  .div {
    padding-bottom: 100px;
  }
}
.div-2 {
  z-index: 10;
  display: flex;
  width: 100%;
  padding-left: 29px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    padding-left: 20px;
  }
}
.div-3 {
  display: flex;
  width: 100%;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
  }
}
.div-4 {
  align-self: end;
  display: flex;
  width: 100%;
  max-width: 1144px;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
    margin-right: 4px;
  }
}
.div-5 {
  display: flex;
  margin-top: 8px;
  gap: 40px 90px;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .div-5 {
    max-width: 100%;
  }
}
.sneakers {
  color: rgba(0, 0, 0, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  flex-basis: auto;
  font: 400 45px Jacques Francois Shadow, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .sneakers {
    font-size: 40px;
  }
}
.div-6 {
  display: flex;
  color: var(--sds-color-text-neutral-default);
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  font: var(--sds-typography-body-font-weight-regular)
    var(--sds-typography-body-size-medium) / 1.4
    var(--sds-typography-body-font-family);
}
@media (max-width: 991px) {
  .div-6 {
    max-width: 100%;
  }
}
.tab {
  border-radius: 4px 4px 0px 0px;
  border-color: rgba(245, 245, 245, 1);
  border-bottom-width: 1px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  padding: 4px 12px;
}
@media (max-width: 991px) {
  .tab {
    white-space: initial;
  }
}
.label {
  opacity: var(--sds-size-stroke-border);
  align-self: stretch;
  margin: auto 0;
}
.tabs {
  display: flex;
  align-items: start;
  overflow: hidden;
  justify-content: start;
  flex-grow: 1;
  flex-basis: auto;
}
@media (max-width: 991px) {
  .tabs {
    max-width: 100%;
  }
}
.tab-2 {
  border-radius: 4px 4px 0px 0px;
  border-color: rgba(245, 245, 245, 1);
  border-bottom-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
}
.div-7 {
  display: flex;
  gap: 18px;
}
.img {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 25px;
}
.div-8 {
  margin-top: 15px;
  height: 3px;
  border: 1px solid rgba(0, 0, 0, 1);
}
@media (max-width: 991px) {
  .div-8 {
    max-width: 100%;
  }
}
.sobre-nosotros {
  color: var(--Dark-gray, #495057);
  text-align: center;
  opacity: var(--sds-size-stroke-border);
  align-self: center;
  margin-top: 111px;
  font: 600 36px/1 Open Sans, sans-serif;
}
@media (max-width: 991px) {
  .sobre-nosotros {
    margin-top: 40px;
  }
}
.en-kangaroo-sneakers-creemos-que-la-comodidad-y-el-estilo-no-deberian-tener-que-costar-una-fortuna-desde-zapatillas-deportivas-hasta-zapatos-de-vestir-nuestra-mision-es-ofrecer-una-amplia-variedad-de-calzado-que-se-adapte-a-tu-vida-diaria-sin-comprometer-tu-presupuesto-nos-enorgullece-ofrecer-productos-de-calidad-que-combinan-confort-durabilidad-y-diseno-ya-sea-que-estes-buscando-la-comodidad-de-un-par-de-tenis-para-tu-rutina-diaria-o-la-elegancia-de-unos-zapatos-de-vestir-para-una-ocasion-especial-en-kangaroo-sneakers-encontraras-lo-que-necesitas-nuestra-pasion-es-hacer-que-cada-paso-que-des-sea-mas-comodo-y-accesible-porque-sabemos-que-cuando-tus-pies-estan-bien-todo-lo-demas-sigue-el-ritmo {
  color: var(--Dark-gray, #495057);
  opacity: var(--sds-size-stroke-border);
  margin: 263px 65px 0 99px;
  font: 600 24px/50px Open Sans, sans-serif;
}
@media (max-width: 991px) {
  .en-kangaroo-sneakers-creemos-que-la-comodidad-y-el-estilo-no-deberian-tener-que-costar-una-fortuna-desde-zapatillas-deportivas-hasta-zapatos-de-vestir-nuestra-mision-es-ofrecer-una-amplia-variedad-de-calzado-que-se-adapte-a-tu-vida-diaria-sin-comprometer-tu-presupuesto-nos-enorgullece-ofrecer-productos-de-calidad-que-combinan-confort-durabilidad-y-diseno-ya-sea-que-estes-buscando-la-comodidad-de-un-par-de-tenis-para-tu-rutina-diaria-o-la-elegancia-de-unos-zapatos-de-vestir-para-una-ocasion-especial-en-kangaroo-sneakers-encontraras-lo-que-necesitas-nuestra-pasion-es-hacer-que-cada-paso-que-des-sea-mas-comodo-y-accesible-porque-sabemos-que-cuando-tus-pies-estan-bien-todo-lo-demas-sigue-el-ritmo {
    max-width: 100%;
    margin: 40px 10px 0 0;
  }
}
.sneakers-2 {
  color: rgba(0, 0, 0, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  align-self: center;
  margin: 233px 0 0 44px;
  font: 400 64px Jacques Francois Shadow, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .sneakers-2 {
    margin-top: 40px;
    font-size: 40px;
  }
}


/*------------------------ FOOTER ------------------------*/


:root {
  --background: #fff;
  --foreground: #0A0A0A;
  --primary: #1A1A1A;
  --primary-foreground: #FAFAFA;
  --secondary: #F3F3F3;
  --muted: #F3F3F3;
  --muted-foreground: #767676;
}



.footer {
  background-color: var(--muted);
  padding: 40px 40px;
  
}

.container-footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

@media (min-width: 768px) {
  .container-footer {
      grid-template-columns: repeat(4, 1fr);
  }
}

.column-footer h3 {
  color: var(--primary);
  font-size: 18px;
  margin-bottom: 10px;
}

.column-footer ul {
  list-style: none;
  padding: 0;
}

.column-footer ul li {
  margin-bottom: 8px;
  text-align: left;
}

.column-footer ul li a {
  color: var(--muted-foreground);
  text-decoration: none;
  transition: color 0.3s ease;
}

.column-footer ul li a:hover {
  color: var(--primary);
}

.socials {
  margin-top: 20px;
}

.socials a {
  margin: 0 10px;
  color: var(--muted-foreground);
  text-decoration: none;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: var(--primary);
}



#logo {
position: absolute;
top: 0;
left: 0;
width: 120px; /* Ajusta el tamaño del logo según sea necesario */
height: 120px; /* Mantiene la proporción del logo */
}
.tabs {
justify-content: space-around;
width: 50%; /* Ajusta este valor según lo que necesites */
height: 90px;
display: flex;
align-items: center; /* Centra verticalmente el contenido */
}

.menu-container {
width: 100%;
left: 150px;
position: absolute;
top: 0;
height: 100px;
background-color: rgba(255, 255, 255, 0.932); /* Cambia el fondo a morado */
box-shadow: 0px 4px 2px -2px rgb(199, 199, 199); /* Sombra opcional */
}
.menu-container2 {
width: 100%;
left: 80%;;
position: absolute;
top: 40px;
}
