/* Estilos básicos para el cuerpo */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff; /* Fondo blanco para el cuerpo */
}

/* Navbar */
.div-2 {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center; /* Centra el contenido del navbar */
  padding: 10px 20px;
  z-index: 1000; /* Asegura que el navbar esté sobre otros elementos */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra sutil */
  height: 60px; /* Ajusta la altura según sea necesario */
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en la altura total */
}

/* Ajusta el contenido del navbar */
.menu-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido dentro del menu-container */
  width: 100%;
}

.tabs {
  display: flex;
}

.tab {
  margin: 0 10px;
}

.tab .label a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

.tab .label a:hover {
  background-color: #575757;
  border-radius: 4px;
}

/* Ajusta el contenido principal para no quedar oculto debajo del navbar */
.content {
  padding-top: 80px; /* Ajusta según la altura del navbar, 80px es para asegurarse de que no esté cubierto */
}

/* Estilos para las imágenes en el contenido */


.img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Opcional: para bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: sombra sutil */
}

/*------------------------ FOOTER ------------------------*/


.footer {
  background-color: var(--muted);
  --background: #fff;
  --foreground: #0A0A0A;
  --primary: #1A1A1A;
  --primary-foreground: #FAFAFA;
  --secondary: #F3F3F3;
  --muted: #F3F3F3;
  --muted-foreground: #767676;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.container-footer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  max-width: 1200px; 
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}

.column-footer {
  flex: 1; 
  min-width: 200px;
  margin: 5px; 
}

.column-footer h3 {
  color: var(--primary);
  margin-top: 10px;
  margin-bottom: 15px;
}

.column-footer ul {
  list-style: none;
  padding: 0;
}

.column-footer li {
  margin-bottom: 10px;
}

.column-footer a {
  color: var(--muted-foreground);
  text-decoration: none;
}

.column-footer a:hover {
  color: var(--primary);

  text-decoration: underline;
}

.socials {
  margin-bottom: 20px;
}

.socials a {
  margin: 0 10px;
  
}
.socials img {
  width: 24px; /* Adjust size of icons */
  height: auto; /* Maintain aspect ratio */
}