
.div {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 23px 0 147px;
}
@media (max-width: 991px) {
  .div {
    padding-bottom: 100px;
  }
}
.div-2 {
  z-index: 10;
  display: flex;
  width: 100%;
  padding-left: 29px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    padding-left: 20px;
  }
}
.div-3 {
  display: flex;
  width: 100%;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
  }
}
.div-4 {
  align-self: end;
  display: flex;
  width: 100%;
  max-width: 1144px;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
    margin-right: 4px;
  }
}
.div-5 {
  display: flex;
  margin-top: 8px;
  gap: 40px 90px;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .div-5 {
    max-width: 100%;
  }
}
.sneakers {
  color: rgba(0, 0, 0, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  flex-basis: auto;
  font: 400 45px Jacques Francois Shadow, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .sneakers {
    font-size: 40px;
  }
}
.div-6 {
  display: flex;
  color: var(--sds-color-text-neutral-default);
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  font: var(--sds-typography-body-font-weight-regular)
    var(--sds-typography-body-size-medium) / 1.4
    var(--sds-typography-body-font-family);
}
@media (max-width: 991px) {
  .div-6 {
    max-width: 100%;
  }
}
.tab {
  border-radius: 4px 4px 0px 0px;
  border-color: rgba(245, 245, 245, 1);
  border-bottom-width: 1px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  padding: 4px 12px;
}
@media (max-width: 991px) {
  .tab {
    white-space: initial;
  }
}
.label {
  opacity: var(--sds-size-stroke-border);
  align-self: stretch;
  margin: auto 0;
}
.tabs {
  display: flex;
  align-items: start;
  overflow: hidden;
  justify-content: start;
  flex-grow: 1;
  flex-basis: auto;
}
@media (max-width: 991px) {
  .tabs {
    max-width: 100%;
  }
}
.tab-2 {
  border-radius: 4px 4px 0px 0px;
  border-color: rgba(245, 245, 245, 1);
  border-bottom-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
}
.div-7 {
  display: flex;
  gap: 18px;
}
.img {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 25px;
}
.div-8 {
  margin-top: 15px;
  height: 3px;
  border: 1px solid rgba(0, 0, 0, 1);
}
@media (max-width: 991px) {
  .div-8 {
    max-width: 100%;
  }
}
.sobre-nosotros {
  color: var(--Dark-gray, #495057);
  text-align: center;
  opacity: var(--sds-size-stroke-border);
  align-self: center;
  margin-top: 111px;
  font: 600 36px/1 Open Sans, sans-serif;
}
@media (max-width: 991px) {
  .sobre-nosotros {
    margin-top: 40px;
  }
}
.en-kangaroo-sneakers-creemos-que-la-comodidad-y-el-estilo-no-deberian-tener-que-costar-una-fortuna-desde-zapatillas-deportivas-hasta-zapatos-de-vestir-nuestra-mision-es-ofrecer-una-amplia-variedad-de-calzado-que-se-adapte-a-tu-vida-diaria-sin-comprometer-tu-presupuesto-nos-enorgullece-ofrecer-productos-de-calidad-que-combinan-confort-durabilidad-y-diseno-ya-sea-que-estes-buscando-la-comodidad-de-un-par-de-tenis-para-tu-rutina-diaria-o-la-elegancia-de-unos-zapatos-de-vestir-para-una-ocasion-especial-en-kangaroo-sneakers-encontraras-lo-que-necesitas-nuestra-pasion-es-hacer-que-cada-paso-que-des-sea-mas-comodo-y-accesible-porque-sabemos-que-cuando-tus-pies-estan-bien-todo-lo-demas-sigue-el-ritmo {
  color: var(--Dark-gray, #495057);
  opacity: var(--sds-size-stroke-border);
  margin: 263px 65px 0 99px;
  font: 600 24px/50px Open Sans, sans-serif;
}
@media (max-width: 991px) {
  .en-kangaroo-sneakers-creemos-que-la-comodidad-y-el-estilo-no-deberian-tener-que-costar-una-fortuna-desde-zapatillas-deportivas-hasta-zapatos-de-vestir-nuestra-mision-es-ofrecer-una-amplia-variedad-de-calzado-que-se-adapte-a-tu-vida-diaria-sin-comprometer-tu-presupuesto-nos-enorgullece-ofrecer-productos-de-calidad-que-combinan-confort-durabilidad-y-diseno-ya-sea-que-estes-buscando-la-comodidad-de-un-par-de-tenis-para-tu-rutina-diaria-o-la-elegancia-de-unos-zapatos-de-vestir-para-una-ocasion-especial-en-kangaroo-sneakers-encontraras-lo-que-necesitas-nuestra-pasion-es-hacer-que-cada-paso-que-des-sea-mas-comodo-y-accesible-porque-sabemos-que-cuando-tus-pies-estan-bien-todo-lo-demas-sigue-el-ritmo {
    max-width: 100%;
    margin: 40px 10px 0 0;
  }
}
.sneakers-2 {
  color: rgba(0, 0, 0, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  align-self: center;
  margin: 233px 0 0 44px;
  font: 400 64px Jacques Francois Shadow, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .sneakers-2 {
    margin-top: 40px;
    font-size: 40px;
  }
}
.div-9 {
  align-self: center;
  display: flex;
  width: 249px;
  max-width: 100%;
  flex-direction: column;
  align-items: start;
  color: var(--sds-color-text-default-default);
  justify-content: start;
  margin: 702px 0 0 126px;
  font: var(--sds-typography-body-font-weight-regular)
    var(--sds-typography-body-size-medium) / 1.4
    var(--sds-typography-body-font-family);
}
@media (max-width: 991px) {
  .div-9 {
    margin-top: 40px;
  }
}
.title {
  align-self: stretch;
  display: flex;
  width: 100%;
  padding-bottom: 16px;
  flex-direction: column;
  font-weight: var(--sds-typography-body-font-weight-strong);
  white-space: nowrap;
  justify-content: start;
}
@media (max-width: 991px) {
  .title {
    white-space: initial;
  }
}
.div-10 {
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: start;
}
@media (max-width: 991px) {
  .div-10 {
    white-space: initial;
  }
}
.div-11 {
  opacity: var(--sds-size-stroke-border);
}
.div-12 {
  display: flex;
  margin-top: 12px;
  width: 89px;
  flex-direction: column;
}
.list-item {
  opacity: var(--sds-size-stroke-border);
}
.div-13 {
  display: flex;
  margin-top: 12px;
  width: 89px;
  flex-direction: column;
}
.div-14 {
  display: flex;
  margin-top: 12px;
  width: 89px;
  flex-direction: column;
}
.div-15 {
  display: flex;
  margin-top: 12px;
  width: 89px;
  flex-direction: column;
}
.div-16 {
  display: flex;
  min-height: 22px;
  margin-top: 12px;
  width: 89px;
}
.div-17 {
  display: flex;
  min-height: 22px;
  margin-top: 12px;
  width: 89px;
}
.div-18 {
  display: flex;
  min-height: 22px;
  margin-top: 12px;
  width: 89px;
}
.div-19 {
  align-self: end;
  z-index: 10;
  display: flex;
  width: 249px;
  max-width: 100%;
  flex-direction: column;
  align-items: start;
  color: var(--sds-color-text-default-default);
  justify-content: start;
  margin: -276px 113px 0 0;
  font: var(--sds-typography-body-font-weight-regular)
    var(--sds-typography-body-size-medium) / 1.4
    var(--sds-typography-body-font-family);
}
@media (max-width: 991px) {
  .div-19 {
    margin: -200px 10px 0 0;
  }
}
.div-20 {
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: start;
}
@media (max-width: 991px) {
  .div-20 {
    white-space: initial;
  }
}
.div-21 {
  opacity: var(--sds-size-stroke-border);
}
.div-22 {
  display: flex;
  margin-top: 12px;
  width: 89px;
  flex-direction: column;
}
.div-23 {
  display: flex;
  margin-top: 12px;
  width: 89px;
  flex-direction: column;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-23 {
    white-space: initial;
  }
}
.div-24 {
  display: flex;
  margin-top: 12px;
  width: 89px;
  flex-direction: column;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-24 {
    white-space: initial;
  }
}
.div-25 {
  display: flex;
  margin-top: 12px;
  width: 89px;
  flex-direction: column;
  align-items: start;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-25 {
    padding-right: 20px;
    white-space: initial;
  }
}
.div-26 {
  display: flex;
  margin-top: 12px;
  width: 89px;
  flex-direction: column;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-26 {
    white-space: initial;
  }
}
.div-27 {
  display: flex;
  margin-top: 12px;
  width: 89px;
  flex-direction: column;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-27 {
    white-space: initial;
  }
}
.div-28 {
  display: flex;
  min-height: 22px;
  margin-top: 12px;
  width: 89px;
}
.footer {
  background-color: rgba(230, 230, 230, 1);
  border-color: rgba(217, 217, 217, 1);
  border-top-width: 1px;
  display: flex;
  margin-top: -308px;
  min-height: 462px;
  align-items: start;
  gap: 16px;
  overflow: hidden;
  justify-content: start;
  flex-wrap: wrap;
  padding: 32px 32px 347px;
}
@media (max-width: 991px) {
  .footer {
    margin-top: -200px;
    padding: 0 20px 100px;
  }
}
.title-2 {
  display: flex;
  min-width: 240px;
  min-height: 83px;
  width: 262px;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.button-list {
  display: flex;
  align-items: center;
  gap: 16px;
  overflow: hidden;
  justify-content: start;
}
.img-2 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  margin: auto 0;
}
.img-3 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  margin: auto 0;
}
.img-4 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  margin: auto 0;
}
.img-5 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  margin: auto 0;
}
.kangaroo {
  color: rgba(0, 0, 0, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  z-index: 10;
  margin: -231px 0 0 45px;
  font: 400 35px Hermeneus One, sans-serif;
}
@media (max-width: 991px) {
  .kangaroo {
    margin: -200px 0 0 10px;
  }
}
