.div {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 23px 0 147px;
}

.div-2 {
  z-index: 10;
  display: flex;
  width: 100%;
  padding-left: 29px;
  flex-direction: column;
}


/* Quita los estilos de todos los <a>  (No hay que volver a hacerlo, en caso de no querer modificar igual, hacer una clase propia)*/
a{
  text-decoration: none; 
  color: inherit; 
  font-weight: normal; 
}

/*Diseño de links navbar*/
.tab {
  border-radius: 4px 4px 0px 0px;
  border: 1px solid transparent; 
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  padding: 5px 12px; 
  transition: border 0.3s ease;
}
@media (max-width: 991px) {
  .tab {
    white-space: initial;
  }
}

.tab:hover{
  border: 1px solid black;
} 



.div-3 {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.div-4 {
  align-self: end;
  display: flex;
  width: 100%;
  max-width: 1144px;
  gap: 40px 100px;
}

.sneakers {
  color: rgba(0, 0, 0, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  flex-grow: 1;
  width: 117px;
  font: 400 45px Jacques Francois Shadow, -apple-system, Roboto, Helvetica,
    sans-serif;
}

.tabs {
  display: flex;
  align-items: start;
  overflow: hidden;
  color: var(--sds-color-text-neutral-default);
  justify-content: start;
  margin: auto 0;
  font: var(--sds-typography-body-font-weight-regular)
    var(--sds-typography-body-size-medium) / 1.4
    var(--sds-typography-body-font-family);
}

.tab {
  border-radius: 4px 4px 0px 0px;
  border-color: rgba(245, 245, 245, 1);
  border-bottom-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
}
.label {
  opacity: var(--sds-size-stroke-border);
  align-self: stretch;
  margin: auto 0;
}
.tab-2 {
  border-radius: 4px 4px 0px 0px;
  border-color: rgba(245, 245, 245, 1);
  border-bottom-width: 1px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  padding: 4px 12px;
}

.tab-3 {
  border-radius: 4px 4px 0px 0px;
  border-color: rgba(245, 245, 245, 1);
  border-bottom-width: 1px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  padding: 4px 12px;
}

.tab-4 {
  border-radius: 4px 4px 0px 0px;
  border-color: rgba(245, 245, 245, 1);
  border-bottom-width: 1px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  padding: 4px 12px;
}

.tab-5 {
  border-radius: 4px 4px 0px 0px;
  border-color: rgba(245, 245, 245, 1);
  border-bottom-width: 1px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  padding: 4px 12px;
}

.div-5 {
  align-self: start;
  display: flex;
  gap: 18px;
}
.img {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 25px;
}
.div-6 {
  margin-top: 15px;
  height: 3px;
  border: 1px solid rgba(0, 0, 0, 1);
}

.politica-de-cookies {
  color: var(--Dark-gray, #495057);
  text-align: center;
  opacity: var(--sds-size-stroke-border);
  align-self: center;
  margin-top: 125px;
  font: 600 36px/1 Open Sans, sans-serif;
}

.que-son-las-cookies-las-cookies-son-pequenos-archivos-de-texto-que-se-almacenan-en-tu-dispositivo-cuando-visitas-un-sitio-web-estas-cookies-permiten-que-el-sitio-web-recuerde-tus-acciones-y-preferencias-como-el-inicio-de-sesion-el-idioma-y-otras-configuraciones-para-que-no-tengas-que-volver-a-configurarlas-cada-vez-que-vuelves-al-sitio-como-utilizamos-las-cookies-en-nombre-del-sitio-web-utilizamos-cookies-para-mejorar-tu-experiencia-en-nuestro-sitio-web-algunas-de-las-maneras-en-que-utilizamos-las-cookies-incluyen-personalizacion-para-recordar-tus-preferencias-y-personalizar-el-contenido-que-ves-analitica-para-recopilar-datos-sobre-como-los-visitantes-usan-nuestro-sitio-lo-que-nos-ayuda-a-mejorarlo-continuamente-publicidad-para-mostrar-anuncios-relevantes-que-puedan-interesarte-basados-en-tus-habitos-de-navegacion-tipos-de-cookies-que-utilizamos-cookies-esenciales-son-necesarias-para-que-el-sitio-funcione-correctamente-sin-estas-cookies-algunas-partes-del-sitio-web-no-funcionarian-cookies-de-rendimiento-nos-permiten-medir-y-mejorar-el-rendimiento-de-nuestro-sitio-web-cookies-de-funcionalidad-nos-ayudan-a-recordar-las-elecciones-que-haces-para-proporcionarte-una-experiencia-mas-personalizada-cookies-de-terceros-en-algunos-casos-trabajamos-con-terceros-que-tambien-pueden-establecer-cookies-en-tu-dispositivo-para-ayudarnos-a-mejorar-nuestros-servicios-proporcionar-publicidad-o-realizar-analisis-gestion-de-cookies-puedes-controlar-y-o-eliminar-las-cookies-como-desees-la-mayoria-de-los-navegadores-te-permiten-rechazar-o-aceptar-cookies-o-eliminarlas-despues-de-cada-sesion-de-navegacion-ten-en-cuenta-que-si-decides-bloquear-o-eliminar-cookies-es-posible-que-algunas-funciones-de-nuestro-sitio-no-esten-disponibles-o-no-funcionen-correctamente-cambios-en-nuestra-politica-de-cookies-podemos-actualizar-esta-politica-de-cookies-ocasionalmente-para-reflejar-cambios-en-nuestras-practicas-y-servicios-te-recomendamos-revisar-esta-politica-periodicamente-para-estar-informado-sobre-como-estamos-utilizando-las-cookies-contacto-si-tienes-alguna-pregunta-sobre-nuestra-politica-de-cookies-no-dudes-en-contactarnos-a-traves-de-kangaroosupport-gmail-com {
  color: var(--Dark-gray, #495057);
  opacity: var(--sds-size-stroke-border);
  margin: 142px 64px 0 102px;
  font: 600 20px/30px Open Sans, sans-serif;
}


/*------------------------ FOOTER ------------------------*/


.footer {
  background-color: var(--muted);
  --background: #fff;
  --foreground: #0A0A0A;
  --primary: #1A1A1A;
  --primary-foreground: #FAFAFA;
  --secondary: #F3F3F3;
  --muted: #F3F3F3;
  --muted-foreground: #767676;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.container-footer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  max-width: 1200px; 
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}

.column-footer {
  flex: 1; 
  min-width: 200px;
  margin: 5px; 
}

.column-footer h3 {
  color: var(--primary);
  margin-top: 10px;
  margin-bottom: 15px;
}

.column-footer ul {
  list-style: none;
  padding: 0;
}

.column-footer li {
  margin-bottom: 10px;
}

.column-footer a {
  color: var(--muted-foreground);
  text-decoration: none;
}

.column-footer a:hover {
  color: var(--primary);

  text-decoration: underline;
}

.socials {
  margin-bottom: 20px;
}

.socials a {
  margin: 0 10px;
  
}
.socials img {
  width: 24px; /* Adjust size of icons */
  height: auto; /* Maintain aspect ratio */
}