* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.password-container {
    position: relative;
}

.password-container input {
    padding-right: 40px;
}

.show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-hint {
    text-align: left;
    font-size: 12px;
    color: #888;
    margin-top: -10px;
    margin-bottom: 20px;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.forgot-password {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.login-btn {
    background-color: #ddd;
    color: black;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}


.login-btn:hover {
    background-color: black;
    color: #ddd;
}

.or-login {
    margin-bottom: 10px;
}

.social-login {
    display: flex;
    justify-content: space-between;
}

.social-login button {
    width: 100px;
    padding: 10px;
    border: 1px solid #007bff;
    background-color: #fff;
    color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.google-btn {
    color: #DB4437;
}

.apple-btn {
    color: #000;
}

.twitter-btn {
    color: #1DA1F2;
}

.signup-link {
    margin-top: 20px;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}



/*
        <p class="or-login">O Inicia sesión con:</p>
        <div class="social-login">
            <button class="google-btn">Google</button>
            <button class="apple-btn">Apple</button>
            <button class="twitter-btn">Twitter</button>
        </div>
*/